body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f2f2;
}
.container{
    width: 100%;

    max-width: 1100px;
    margin:0 auto;
    padding: 0 30px;
}
.navbar {
    background-color: #6c8cd5; 
    width: 100%;
    /* height: 10%; */
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    
  }
  .navbar h1{
    color: white; 
    margin-right: auto; 
  }
  
  .navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 2rem;
    display: flex;
    gap: 20px; 
  }
  
  .navbar ul li {
    display: inline; 
  }
  
  .navbar ul li a {
    text-decoration: none; 
    color: white; 
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    color: #311f76;
     
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .image-container {
    text-align: center;
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .image-container p {
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  .image-container:nth-child(1) img:hover {
    transform: rotate(360deg);
  }
  
  
  .image-container:nth-child(2) img:hover {
    transform: scale(1.2);
  }
  
  
  .image-container:nth-child(3) img:hover {
    transform: skewX(-15deg) skewY(10deg);
  }
  .image-container:nth-child(4) img:hover {
    transform: translateX(20px) translateY(-20px);
  }
  
  
  .image-container:nth-child(5) img:hover {
    transform: rotate(45deg) scale(1.1);
  }
  
  .image-container:nth-child(6) img:hover {
    transform: scaleX(-1); /* Horizontal flip */
  }

  footer p{
    
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
    padding: 3%;
    background-color: #6c8cd5;
    /* margin-bottom: 50px; */

}
  
.up_arrow{
    
    background-image: linear-gradient(to bottom right, blue, aqua,blueviolet);
    float: right;
    margin: 20px 10px 5px 0px;
    border-radius: 10px;
}

html{
    scroll-behavior: smooth;
}



@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .navbar ul {
        flex-direction: column;
        padding: 1rem;
    }

    .navbar ul li {
        margin-bottom: 10px;
    }

    .image-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        padding: 10px;
    }

    .image-container p {
        font-size: 20px;
        font-weight: bolder;
    }

    footer p {
        font-size: 14px;
        padding: 2%;
    }

    .up_arrow {
        margin: 10px 5px 5px 0px;
    }
}